<a href="https://colab.research.google.com/github/shahfaissal/python_programs/blob/main/python_coding_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Write a python program to check a given number is perfect or not.

Note: A perfect number is a positive integer that is equal to the sum of its positive divisors, excluding the number itself.

Lets understand it with example

6 is a positive number and its divisor is 1,2,3 and 6 itself.

But we should not include 6 as by the definition of perfect number.

Lets add its divisor excluding itself

1+2+3 = 6 which is equal to number itself.

It means 6 is a Perfect Number.

Example 1:

Input:
28

Output:
It is Perfect Number

In [ ]:
num = int(input())
#List to store divisors
divisor_list=[]
for i in range(1,num):
    if num%i==0:
        divisor_list.append(i)
if sum(divisor_list)==num:
  print('It is Perfect Number')
else:
    print('It is not Perfect Number')

88
It is not Perfect Number

2.Write a Python program to check whether a String is Palindrome or not?

Example 1:

Input:
madam

Output:
String is a Palindrome

In [ ]:
string = input()
if (string[::-1]==string):
  print('String is a Palindrome')
else:
  print('String is not a Palindrome')

adam
String is not a Palindrome

3.Write a python program to remove a given character from string.

For Example:

Input String: Quescol

Input Character : e

Output: Quscol (After removing ‘e’)

Example 1:

Input:
AlmaBetter

t

Output:
almabe er

In [ ]:
str = input()
ch = input()
new_string=str.replace(ch,' ')
print(new_string.lower())

machine learning
a
m chine le rning

4.Write a python program to find the last position of a given substring.

Example 1:
Input:
Emma is a data scientist who knows Python. Emma works at google.

Emma

Output:
Last occurrence of Emma starts at index 43

In [ ]:
str1 =input()
substr=input()
ind=str1.rfind(substr)
print(f'Last occurrence of {substr} starts at index {ind}')

Emma is a data scientist who knows Python. Emma works at google.
emma
Last occurrence of emma starts at index -1

5.Write a Python program to swap two number without using third variable.

Example 1:

Input:
a=9

b=2

Output:
value of a is : 9

value of b is : 2

After swapping

value of a is : 2

value of b is : 9

In [ ]:
a=int(input())
b=int(input())
print(f'value of a is : {a}')
print(f'value of b is : {b}')
a,b=b,a
print('After swapping')
print(f'value of a is : {a}')
print(f'value of b is : {b}')

5
6
value of a is : 5
value of b is : 6
After swapping
value of a is : 6
value of b is : 5

6.Write a Python program to change the position of every nth value with the (n+1)th in a list.

Example 1:

Input:
[1, 0, 3, 2, 5, 4]

Output:
[0, 1, 2, 3, 4, 5]

In [6]:
lst=eval(input())
for i in range(0,len(lst)-1,2):
    lst[i+1],lst[i]=lst[i],lst[i+1]
print(lst)

[1,2,3,4,5,6]
[2, 1, 4, 3, 6, 5]

7.Write a Python program to find common items from two lists.
Example 1:

Input:

["Red", "Green", "Orange", "White"]

["Black", "Green", "White", "Pink"]

Output:
['Green', 'White']

In [7]:
color1 = eval(input())
color2 = eval(input())
lst1=[]
for i in color1:
    if i in color2:
        lst1.append(i)

print(lst1)

["Red", "Green", "Orange", "White"]
["Black", "Green", "White", "Pink"]
['Green', 'White']

8.Write a Python program to compute the difference between two lists.

Example 1:

Input:

L1=["red", "orange", "green", "blue", "white"]

L2=["black", "yellow", "green", "blue"]

Output:

L1-L2= ['orange', 'red', 'white']

L2-L1= ['black', 'yellow']

In [9]:
L1 = eval(input())
L2 = eval(input())
res = [i for i in L1 if i not in L2]
res1 = [i for i in L2 if i not in L1]
print('L1-L2=',res)
print('L2-L1=',res1)

["red", "orange", "green", "blue", "white"]
["black", "yellow", "green", "blue"]
L1-L2= ['red', 'orange', 'white']
L2-L1= ['black', 'yellow']

9.Write a Python program to find a tuple, the smallest second index value from a list of tuples.

Example 1:

Input:

x= [(4, 1), (1, 2), (6, 0)]

Output:
(6, 0)

In [10]:
x = eval(input())
tuple_2nd_index_list=[]
for i in x:
    tuple_2nd_index_list.append(i[1])

min_value = min(tuple_2nd_index_list) 
for i in x:
    if min_value==i[1]:
        print(i)

[(4, 1),(1, 2),(6, 0)]
(6, 0)

10.Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and print the result.

Example 1:

Input:

add=10

mult1=12

mult2=4

Output:

After addition: 25

After multiplication: 48

In [11]:
add=int(input())
mult1=int(input())
mult2=int(input())
x = lambda add: add+15
y = lambda mult1,mult2: mult1*mult2

print(f'After addition: {x(add)}')
print(f'After multiplication: {y(mult1,mult2)}')

10
12
4
After addition: 25
After multiplication: 48